In [1]:
import sqlite3

In [2]:

conn = sqlite3.connect('covid.db')
conn.execute('''select  total_case,total_death,total_recovered  from overall_data where year = 2022 and weeknum=52''').fetchall()

[(2500484, 11971, 2478781)]

In [49]:
import sqlite3
import pandas as pd
import pandas as pd
import altair as alt
import altair_viewer

alt.data_transformers.disable_max_rows()
# altair_viewer._global_viewer._use_bundled_js = False
# alt.data_transformers.enable('data_server')

class ChartManager():

    def __init__(self):
        self.df = None
        self.Chart = None
        self.ThailandProvincesTopo = alt.topo_feature('https://raw.githubusercontent.com/cvibhagool/thailand-map/master/thailand-provinces.topojson', 'province')
        self.obj_columns = []
        self.int_columns = []
    
    def setDataframe(self,dataframe):
        self.df = dataframe
        self.obj_columns = self.df.select_dtypes(include=['object']).columns.to_list()
        self.int_columns = self.df.select_dtypes(include=['int']).columns.to_list()
    
    def ColorSchema(self,dataframe,Measurement,Color:list):
        color = alt.Color(Measurement,
                          type= "quantitative",
                          scale = alt.Scale(
                            domain = [0,dataframe[Measurement].mean(),dataframe[Measurement].max()],
                            range = Color,
                            type = "linear")
                        )
        return color
    
    def Tooltip(self,ColumnNames:list):
        l = []
        for col in ColumnNames:
            t = "quantitative" if col in self.int_columns else "nominal"
            l.append(alt.Tooltip(col, type= t))
        return l

    def SumDuplicateValue(self):
        l = []
        for y in list(set(self.df['year'])):
            maxweeknum = self.df.loc[self.df['year'] == y]['weeknum'].max()
            l.append(self.df.loc[(self.df['weeknum'] == maxweeknum) & (self.df['year'] == y)])
        df = pd.concat(l, ignore_index=True)
        group = df.groupby('province').transform('sum')
        df['total_case'] = group['total_case']
        df['total_death'] = group['total_death']
        df = df.drop_duplicates(subset=['province'])
        return df
    
    def dropAllandNone(self,df):
        dff = df
        dff.drop(index=dff[dff["province"].isin(["All","None"])].index, inplace=True)
        return dff

    def SetDatetime(self):
        
        self.df['date'] = pd.to_datetime(
                            self.df['year'].astype(str) + '-W' + self.df['weeknum'].astype(str) + '-0',
                            format='%G-W%V-%w')
        self.df = self.df.sort_values(by=['date']).loc[self.df["province"]=="All"].reset_index(drop=True)
        
    def SumTotalCD(self):
        self.df['allcase'] = 0
        self.df['alldeath'] = 0
        for index, row in self.df.iterrows():
            if index == 0:
                self.df.loc[index,'allcase'] = row['total_case']
                casenextvalue = self.df.loc[index,'allcase']
                self.df.loc[index,'alldeath'] = row['total_death']
                deathnextvalue = self.df.loc[index,'alldeath']
            elif index == self.df.shape[0] -1:
                self.df.loc[index,'allcase'] = casenextvalue + row['new_case']
                self.df.loc[index,'alldeath'] = deathnextvalue + row['new_death']
            else:
                self.df.loc[index,'allcase'] = casenextvalue + row['new_case']
                casenextvalue = self.df.loc[index,'allcase']
                self.df.loc[index,'alldeath'] = deathnextvalue + row['new_death']
                deathnextvalue = self.df.loc[index,'alldeath']

    
    def ThailandTopoChart(self,Width,Height):
        df = self.SumDuplicateValue()
        df = self.dropAllandNone(df)
        self.Chart = alt.Chart(self.ThailandProvincesTopo).mark_geoshape().encode(
            color = self.ColorSchema(df,'total_case',['white','#E34234','#640000']),
            tooltip = self.Tooltip(['properties.NAME_1','total_case','total_death'])
        ).transform_lookup(
            lookup='properties.NAME_1',
            from_ = alt.LookupData(df,'province',['total_case','total_death'])
        ).properties(
            width=Width,
            height=Height
        )
        self.Chart.save('../ChartJSON/ThailandTopoChart.json')
        return self.Chart
    
    def BarChart(self):
        df = self.df
        df = self.dropAllandNone(df)
        self.Chart = alt.Chart(df).mark_bar(clip=True).encode(
            x = alt.X("province",type = "nominal", title= "จังหวัด"),
            y = alt.Y("total_case", 
                    type= "quantitative",
                    scale= alt.Scale(domain=[0,df["total_case"].max()]),
                    title= "ผู้ป่วยสะสม"),
            tooltip = ["province","total_case","total_death"]
        ).facet( column = "region"
        ).resolve_scale(x = 'independent',y = 'independent')
        self.Chart.save('../ChartJSON/BarChart.json')
        return self.Chart

    def LineChart(self):
        self.SetDatetime()
        self.SumTotalCD()
        self.Chart = alt.Chart(self.df).mark_line(point=alt.OverlayMarkDef(filled=False, fill="white")
                                ).encode(
            x=alt.X("date",type="temporal", title= "วัน"),
            y=alt.Y(
                alt.repeat("layer"), aggregate="mean",title="ผู้ติดเชื้อสะสมทั้งประเทศ"),
            tooltip = ['date:T','allcase:Q','alldeath:Q'],
            color=alt.datum(alt.repeat("layer")),
        ).repeat(layer=["allcase", "alldeath"])
        self.Chart.save('../ChartJSON/LineChart.json')
        return self.Chart


def plot_bar(year,country):
    conn = sqlite3.connect('../Server/Covid.db')
    if year == 'all':
        query = "SELECT *,SUM([total_case]) AS [total_cases] FROM alldata_province_eng WHERE ([year] = 2021 OR [year] = 2023) OR ([year] = 2022 AND [weeknum] = 52) GROUP BY [province]"
        df = pd.read_sql(query , conn)
        df = df.drop('total_case', axis=1)
        df.rename(columns={"total_cases": "total_case"},inplace = True)
    else:
        if year == '2022':
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s  AND [weeknum] = 52" % year
            df = pd.read_sql(query , conn)
        else:
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s " % year
            df = pd.read_sql(query , conn)
    alt.data_transformers.disable_max_rows()
    D_country = {1:'ภาคเหนือ',2:'ภาคกลาง',3:'ภาคใต้',4:'ภาคตะวันตก',5:'ภาคตะวันตก',6:'ภาคตะวันตกเฉียงเหนือ'}
    a = len(country)

    obj = ChartManager()
    if a == 6:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])|(df['region'] == D_country[(country[5])])])
    elif a == 5:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])])
    elif a == 4:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])])
    elif a == 3:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])])
    elif a == 2:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])])
    elif a == 1:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])])
    return obj.BarChart()

def plot_line(year,country):
    conn = sqlite3.connect('../Server/Covid.db')
    if year == 'all':
        query = "SELECT *,SUM([total_case]) AS [total_cases] FROM alldata_province_eng WHERE ([year] = 2021 OR [year] = 2023) OR ([year] = 2022 AND [weeknum] = 52) GROUP BY [province]"
        df = pd.read_sql(query , conn)
        df = df.drop('total_case', axis=1)
        df.rename(columns={"total_cases": "total_case"},inplace = True)
    else:
        if year == '2022':
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s  AND [weeknum] = 52" % year
            df = pd.read_sql(query , conn)
        else:
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s " % year
            df = pd.read_sql(query , conn)

    alt.data_transformers.disable_max_rows()
    D_country = {1:'ภาคเหนือ',2:'ภาคกลาง',3:'ภาคใต้',4:'ภาคตะวันตก',5:'ภาคตะวันตก',6:'ภาคตะวันตกเฉียงเหนือ'}
    a = len(country)

    obj = ChartManager()
    if a == 6:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])|(df['region'] == D_country[(country[5])])])
    elif a == 5:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])])
    elif a == 4:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])])
    elif a == 3:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])])
    elif a == 2:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])])
    elif a == 1:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])])
    return obj.LineChart()

def plot_TH(year,country):
    conn = sqlite3.connect('../Server/Covid.db')
    if year == 'all':
        query = "SELECT *,SUM([total_case]) AS [total_cases] FROM alldata_province_eng WHERE ([year] = 2021 OR [year] = 2023) OR ([year] = 2022 AND [weeknum] = 52) GROUP BY [province]"
        df = pd.read_sql(query , conn)
        df = df.drop('total_case', axis=1)
        df.rename(columns={"total_cases": "total_case"},inplace = True)
    else:
        if year == '2022':
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s  AND [weeknum] = 52" % year
            df = pd.read_sql(query , conn)
        else:
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s " % year
            df = pd.read_sql(query , conn)

    alt.data_transformers.disable_max_rows()
    D_country = {1:'ภาคเหนือ',2:'ภาคกลาง',3:'ภาคใต้',4:'ภาคตะวันตก',5:'ภาคตะวันตก',6:'ภาคตะวันตกเฉียงเหนือ'}
    a = len(country)

    obj = ChartManager()
    if a == 6:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])|(df['region'] == D_country[(country[5])])])
    elif a == 5:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])])
    elif a == 4:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])])
    elif a == 3:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])])
    elif a == 2:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])])
    elif a == 1:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])])
    return obj.ThailandTopoChart(500,600)

def plot_country(year,country):
    conn = sqlite3.connect('../Server/Covid.db')
    if year == 'all':
        query = "SELECT *,SUM([total_case]) AS [total_cases] FROM alldata_province_eng WHERE ([year] = 2021 OR [year] = 2023) OR ([year] = 2022 AND [weeknum] = 52) GROUP BY [province]"
        df = pd.read_sql(query , conn)
        df = df.drop('total_case', axis=1)
        df.rename(columns={"total_cases": "total_case"},inplace = True)
    else:
        if year == '2022':
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s  AND [weeknum] = 52" % year
            df = pd.read_sql(query , conn)
        else:
            query = "SELECT * FROM alldata_province_eng WHERE [year] == %s " % year
            df = pd.read_sql(query , conn)

    alt.data_transformers.disable_max_rows()
    D_country = {1:'ภาคเหนือ',2:'ภาคกลาง',3:'ภาคใต้',4:'ภาคตะวันตก',5:'ภาคตะวันตก',6:'ภาคตะวันตกเฉียงเหนือ'}
    a = len(country)

    obj = ChartManager()
    #if get only one region
    if a == 6:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])|(df['region'] == D_country[(country[5])])])
    elif a == 5:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])|(df['region'] == D_country[(country[4])])])
    elif a == 4:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])|(df['region'] == D_country[(country[3])])])
    elif a == 3:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])|(df['region'] == D_country[(country[2])])])
    elif a == 2:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])|(df['region'] == D_country[(country[1])])])
    elif a == 1:
        obj.setDataframe(df.loc[(df['region'] == D_country[(country[0])])])
    #นี่เป็นตัวอย่างการ query ให้ดูว่า chart จะมีลักษณะเป็นอย่างไร
    #แต่ถ้าของจริงจะต้องใช้ไฟล์ที่ query มาจาก Back-end แล้วนำไฟล์นั้นไปใช้เลย
    return obj.ThailandTopoChart(300,400)

plot_bar('2022',[1,2])

C:\Users\jeng\AppData\Local\Temp\ipykernel_3704\3871917845.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff.drop(index=dff[dff["province"].isin(["All","None"])].index, inplace=True)

alt.FacetChart(...)

In [44]:
conn = sqlite3.connect('../Server/Covid.db')
query = "SELECT *,SUM([total_case]) AS [total_cases] FROM alldata_province_eng WHERE ([year] = 2021 OR [year] = 2023) OR ([year] = 2022 AND [weeknum] = 52) GROUP BY [province]"
df = pd.read_sql(query , conn)
df = df.drop('total_case', axis=1)
df.rename(columns={"total_cases": "total_case"},inplace = True)
df

,update_date,province,region,year,weeknum,new_case,new_case_excludeabroad,total_case_excludeabroad,new_death,total_death,vaccine_total,vaccine_1st_dose,vaccine_2nd_dose,vaccine_3rd_dose,vaccine_total_acm,vaccine_1st_dose_acm,vaccine_2nd_dose_acm,vaccine_3rd_dose_acm,total_case
0,2023-03-13 07:34:37,All,ทั้งประเทศ,2023,10,122,122,4385,6,255,889,103,142,644,144895090,57228606,53722971,33943513,2507880
1,2023-03-13 07:34:37,Amnat Charoen,ภาคตะวันออกเฉียงเหนือ,2023,10,0,0,7,0,0,0,0,0,0,602011,253378,237487,111146,7782
2,2023-03-13 07:34:37,Ang Thong,ภาคกลาง,2023,10,1,1,24,1,5,0,0,0,0,495337,182465,179788,133084,16286
3,2023-03-13 07:34:37,Bangkok Metropolis,ภาคกลาง,2023,10,42,42,770,1,45,423,41,58,324,28253116,10030194,9331851,8891071,517210
4,2023-03-13 07:34:37,Bueng Kan,ภาคตะวันออกเฉียงเหนือ,2023,10,0,0,4,0,0,0,0,0,0,549025,255466,227832,65727,10571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,2023-03-13 07:34:37,Udon Thani,ภาคตะวันออกเฉียงเหนือ,2023,10,0,0,44,0,5,0,0,0,0,2557122,1063969,996152,497001,29730
75,2023-03-13 07:34:37,Uthai Thani,ภาคกลาง,2023,10,0,0,39,0,3,0,0,0,0,540474,214938,208284,117252,11311
76,2023-03-13 07:34:37,Uttaradit,ภาคเหนือ,2023,10,2,2,27,0,0,0,0,0,0,830214,321944,307516,200754,9059
77,2023-03-13 07:34:37,Yala,ภาคใต้,2023,10,0,0,4,0,0,0,0,0,0,745676,362880,305089,77707,9993
78,2023-03-13 07:34:37,Yasothon,ภาคตะวันออกเฉียงเหนือ,2023,10,0,0,20,0,3,0,0,0,0,880035,345653,326851,207531,14144